@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

/* Status Colors */
.status-confirmed {
  color: #22c55e;
}

.status-pending {
  color: #eab308;
}

.status-critical {
  color: #ef4444;
}

/* Reset de estilos indesejados */
* {
  box-shadow: none !important;
}